@charset "UTF-8";

/*
 * Version : 1.0
 * Date : 2024-07
 */


@font-face {
    font-family: "Pretendard Variable", Pretendard, -apple-system, BlinkMacSystemFont, system-ui, Roboto, "Helvetica Neue", "Segoe UI", "Apple SD Gothic Neo", "Noto Sans KR", "Malgun Gothic", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", sans-serif;
    font-weight: 400;
    font-style: normal;
}

:root {
    --font-color: #333;
    --sub-font-color: #666;
    --point-color: #645be7;
    --color: pink;
    --blur-1-size: clamp(400px, 60vw, 60vw);
    --blur-2-size: clamp(300px, 40vw, 40vw);
    --blur-3-size: clamp(100px, 10vw, 10vw);
    --blur-amount: clamp(40px, 5vw, 90px);
    --size: clamp(10rem, 1rem + 40vmin, 30rem);
    --gap: calc(var(--size) / 14);
    --duration: 60s;
    --scroll-start: 0;
    --scroll-end: calc(-100% - var(--gap));
}

::selection {
    background: #9891f9;
    color: #e9e8fa !important;
}

::-moz-selection {
    background: #9891f9;
    color: #e9e8fa !important;
}

* {box-sizing: border-box;}

html, body {
    font-family: "Pretendard Variable", Pretendard, -apple-system, BlinkMacSystemFont, system-ui, Roboto, "Helvetica Neue", "Segoe UI", "Apple SD Gothic Neo", "Noto Sans KR", "Malgun Gothic", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", sans-serif;
    line-height: 1.3;
    font-size: 62.5%;
    color: var( --font-color);
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    overflow-x: hidden;
}

/* 이미지 리사이징 화질 개선 이미지 렌더링 */
img[src$=".gif"], img[src$=".png"] {
    image-rendering: -moz-crisp-edges;         /* Firefox */
    image-rendering:  -o-crisp-edges;         /* Opera */
    image-rendering: -webkit-optimize-contrast;/* Webkit (non-standard naming) */
    image-rendering: crisp-edges;
    -ms-interpolation-mode: nearest-neighbor;  /* IE (non-standard property) */
}

div {
    image-rendering: -moz-crisp-edges;         /* Firefox */
    image-rendering:   -o-crisp-edges;         /* Opera */
    image-rendering: -webkit-optimize-contrast;/* Webkit (non-standard naming) */
    image-rendering: crisp-edges;
    -ms-interpolation-mode: nearest-neighbor;  /* IE (non-standard property) */
}

.fs-h1 {font-size: 4.8rem;}
.fs-h2 {font-size: 4rem;}
.fs-h3 {font-size: 3rem;}
.fs-h4 {font-size: 2rem;}
.fs-18 {font-size: 1.8rem;}
.fs-16 {font-size: 1.6rem;}
.fs-15 {font-size: 1.5rem;}
.fs-14 {font-size: 1.4rem;}
.fs-13 {font-size: 1.3rem;}

.mt40 {margin-top: 4rem !important;}
.mb20 {margin-bottom: 2rem !important;}
.mb40 {margin-bottom: 4rem !important;}
.mb60 {margin-bottom: 6rem !important;}
.mb80 {margin-bottom: 8rem !important;}


.container-md{
    width: 90%;
    max-width: 1300px;
    margin: 0 auto;
}

